 body {
            background:linear-gradient(135deg, #1e3c72, #2a5298, #ff6f61, #ff4a3d);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .login-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        

        .login-container h2 {
            margin-bottom: 20px;
            color: #333;
        }
        .login-container label {
            display: block;
            margin-bottom: 5px;
            color: #555;
            text-align: left;
        }
        .login-container input {
            width: 100%;
            padding: 5px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .login-container button {
            width: 100%;
            padding: 10px;
            background-color: rgb(2, 2, 57);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .login-container button:hover {
            background-color: darkblue;
        }
        .login-container .signup-link {
            margin-top: 15px;
            display: block;
            color: blue;
            text-decoration: none;
        }
        .login-container .signup-link:hover {
            text-decoration: underline;
        }